{% extends 'crud_app/base.html' %} 
{% block title %}Home{% endblock %} 
{% block content %}
<div class="card shadow p-4 text-center">
  <h1 class="mb-4 text-primary">
    ยินดีต้อนรับเข้าสู่ ระบบจัดการข้อมูลบริษัทและสินค้า
  </h1>
  <p class="lead">
    ระบบนี้ถูกพัฒนาด้วยเฟรมเวิร์ก
    <strong>Django</strong> เพื่อช่วยจัดการข้อมูลบริษัทและสินค้าได้
    อย่างมีประสิทธิภาพ
  </p>

  <hr />
  <h2 class="mb-3">เลือกจัดการข้อมูลต่อไปนี้</h2>
  <div class="d-grid gap-3 col-6 mx-auto">
    <a href="{% url 'company_list' %}" class="btn btn-primary btn-lg"
      >รายการบริษัท</a
    >
    <a href="{% url 'product_list' %}" class="btn btn-success btn-lg"
      >รายการสินค้า</a
    >
  </div>
</div>
{% endblock %}
