<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}ระบบจัดการข้อมูลบริษัทและสินค้า{% endblock %}</title>
</head>

<body>
  <header>
    <nav>
      <a href="{% url 'home' %}">หน้าแรก</a> |
      <a href="{% url 'company_list' %}">รายการบริษัท</a> |
      <a href="{% url 'product_list' %}">รายการสินค้า</a>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>

</html>